body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f0f8ff; /* Or any color you want for the overall background */
  }
  
  th {
    width: 120px;
    padding-top:25px;
    padding-bottom:30px;
  }
  
  td {
    padding: 5px;
  }
  
  .time {
    height: 40px;
  }